Kvantum
clipit
coc
Psst
discord
cef_user_data
Caprine
dconf
dunst
epdfview
falkon
gconf
gtk-3.0
hexchat
libfm
mimeapps.list
pulse
qt5ct
ranger
xarchiver
pavucontrol.ini
pcmanfm
user-dirs.dirs
user-dirs.locale
